<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF">
    <Properties>
        <Property name="app_logs">logs</Property>
        <Property name="datadog_logs">datadog_logs</Property>
    </Properties>
    <Appenders>
        <RollingRandomAccessFile name="FILE"
                                 fileName="${app_logs}/application.log"
                                 filePattern="${app_logs}/application-%d{yyyy-MM-dd}.%i.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p [%-20t] %c{1} [%X{X-RequestID}] - %msg%n" />
            <Filters>
                <RegexFilter regex="(?s).*insert into &quot;HealthObject&quot;.*(?s)"
                             onMatch="DENY" onMismatch="NEUTRAL" />
                <RegexFilter regex=".*select.*from.*HealthObject.*where.*"
                             onMatch="DENY" onMismatch="NEUTRAL" />
                <RegexFilter regex=".*Persisting health-object.*"
                             onMatch="DENY" onMismatch="NEUTRAL" />
                <RegexFilter regex=".*select.*from.*job_status.*where.*"
                             onMatch="DENY" onMismatch="NEUTRAL" />
            </Filters>
            <Policies>
                <SizeBasedTriggeringPolicy size="500MB" />
                <TimeBasedTriggeringPolicy interval="1" />
            </Policies>
            <DefaultRolloverStrategy max="10">
                <Delete basePath="${app_logs}">
                    <IfFileName glob="application-*.log">
                        <IfAny>
                            <IfAccumulatedFileSize exceeds="2GB" />
                            <IfAccumulatedFileCount exceeds="10" />
                        </IfAny>
                    </IfFileName>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingRandomAccessFile>
        <RollingRandomAccessFile name="DATADOG_FILE"
                                 fileName="${datadog_logs}/application.log"
                                 filePattern="${datadog_logs}/application-%d{yyyy-MM-dd}.%i.log">
            <Filters>
                <RegexFilter regex="(?s).*insert into &quot;HealthObject&quot;.*(?s)"
                             onMatch="DENY" onMismatch="NEUTRAL" />
                <RegexFilter regex=".*select.*from.*HealthObject.*where.*"
                             onMatch="DENY" onMismatch="NEUTRAL" />
                <RegexFilter regex=".*Persisting health-object.*"
                             onMatch="DENY" onMismatch="NEUTRAL" />
                <RegexFilter regex=".*select.*from.*job_status.*where.*"
                             onMatch="DENY" onMismatch="NEUTRAL" />
            </Filters>
            <Policies>
                <SizeBasedTriggeringPolicy size="500MB" />
                <TimeBasedTriggeringPolicy interval="1" />
            </Policies>
            <DefaultRolloverStrategy max="10">
                <Delete basePath="${datadog_logs}">
                    <IfFileName glob="application-*.log">
                        <IfAny>
                            <IfAccumulatedFileSize exceeds="2GB" />
                            <IfAccumulatedFileCount exceeds="10" />
                        </IfAny>
                    </IfFileName>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingRandomAccessFile>
        <Console name="STDOUT">
            <PatternLayout pattern="%highlight{%d{yyyy-MM-dd HH:mm:ss} %-5p [%-20t] %c{1} [%X{X-RequestID}] - %msg%n}" />
            <Filters>
                <RegexFilter regex="(?s).*insert into &quot;HealthObject&quot;.*(?s)"
                             onMatch="DENY" onMismatch="NEUTRAL" />
                <RegexFilter regex=".*select.*from.*HealthObject.*where.*"
                             onMatch="DENY" onMismatch="NEUTRAL" />
                <RegexFilter regex=".*Persisting health-object.*"
                             onMatch="DENY" onMismatch="NEUTRAL" />
                <RegexFilter regex=".*select.*from.*job_status.*where.*"
                             onMatch="DENY" onMismatch="NEUTRAL" />
            </Filters>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="com.avaje.ebean.config.PropertyMapLoader" level="OFF"/>
        <Logger name="com.avaje.ebeaninternal.server.core.XmlConfigLoader" level="OFF"/>
        <Logger name="com.avaje.ebeaninternal.server.lib.BackgroundThread" level="OFF"/>
        <Logger name="com.gargoylesoftware.htmlunit.javascript" level="OFF"/>

        <Logger name="org.jdbcdslog.ConnectionLogger" level="OFF"/> <!-- Won' log connections -->
        <Logger name="org.jdbcdslog.StatementLogger" level="DEBUG"/> <!-- Will log all statements -->
        <Logger name="org.jdbcdslog.ResultSetLogger" level="OFF"/> <!-- Won' log result sets -->

        <Logger name="akka" level="INFO" />

        <Logger name="com.ning.http.client" level="DEBUG"/>
        <Logger name="play.api.libs.ws" level="DEBUG"/>

        <Logger name="play" level="INFO" />
        <Logger name="application" level="DEBUG" />
        <Logger name="services.InsightRunner" level="DEBUG"/>
        <Logger name="services.SignupCodeService" level="DEBUG"/>
        <Logger name="controllers.WebhookController" level="DEBUG"/>

        <Root level="info">
            <AppenderRef ref="FILE" />
            <AppenderRef ref="DATADOG_FILE" />
            <AppenderRef ref="STDOUT" />
        </Root>
    </Loggers>
</configuration>